<div class="container">
    <div class="page-header">
        <div class="panel-body">

            <div class="panel-control-container">
                <label class="panel-label">商户账号</label>
                <input type="text" class="panel-input"
                       placeholder="请输入商户账号" ng-model="shopId">
            </div>

            <div class="panel-control-container">
                <label class="panel-label">商户名称</label>
                <input type="text" class="panel-input"
                       placeholder="请输入商户名称" ng-model="shopName">
            </div>


            <div class="panel-control-container">
                <label class="panel-label">所属类别</label>
                <select class="panel-select" ng-model="itemClassFilter" ng-options="class.name for class in industries">
                </select>

            </div>


            <div class="panel-control-container">
                <label class="panel-label">商户状态</label>
                </select>
                <select class="panel-select" ng-model="itemStateFilter" ng-options="state.canUseState for state in shopCanUseStates">
                </select>
            </div>

            <div class="panel-control-container">
                <button type="button" class="searchBtn" ng-click="searchBtnClick()">搜索</button>
            </div>

        </div>
    </div>

    <div class="shopUseStateContainer">
        状态说明:
        <input type="button" class="shopAbleUseState shopUseState">
        <span class="stateLabel">正常</span>
        <input type="button" class="shopLockUseState shopUseState">
        <span class="stateLabel">冻结</span>
        <input type="button" class="shopDisableUseState shopUseState">
        <span class="stateLabel">禁用</span>
        <span style="float: right">
            <span>+</span>
            <a href="#!/shop/add"><span style="font-size: 14px">添加商户</span></a>
        </span>


    </div>

    <table class="table">
        <thead>
        <tr>
            <th>商户账号</th>
            <th>商户名称</th>
            <th>商铺位置</th>
            <th>所属分组</th>
            <th>负责人信息</th>
            <th>信用额度</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="d in tableData">
            <td>{{d.shopId}}</td>
            <td>{{d.shopName}}</td>
            <td>{{d.location}}</td>
            <td>{{d.industry}}</td>
            <td>{{d.shopManagerName}}</td>
            <td>{{d.commission}}</td>
            <td>
                <input type="button" class="shopUseStateCenter" ng-class="{'shopAbleUseState':d.status == 0,'shopLockUseState':d.status == 1,'shopDisableUseState':d.status == 2}">

</td>
            <td>
                <a href="#!/shop/detail/{{d.shopId}}" class="tdInnerBtn"><span>详细</span></a>
                <button class="tdInnerBtn" id="destroyShop" ng-click="shopItemDestroiedBtnClick([d.shopId,d.shopName])"><span>注销</span></button>

            </td>
        </tr>
        </tbody>
    </table>

    <!--页码标记-->
    <div class="bodyContainerFooter">

        <input id="forwardBtn" class="detailPageBtn" type="button" value="上一页" ng-click="jumpToForwardPage()"/>
        <!--<label class="displayPageLabel">第1页,共100页</label>-->
        <input class="detailPageBtn" type="button" value="下一页" ng-click="jumpToNextPage()"/>
    </div>


    <!--注销商户账户-->
    <div class="modal fade" id="destroyShopModal" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px; margin-top: 200px;">
            <div class="modal-content changeShopStatusModalContainer">
                <div class="modal-header shopModalCommonHeader">注销商户账户</div>
                <div class="modal-body">
                    <div class="shopStatus-modalTitle">即将注销{{destroyShopName}}</div>
                    <div class="shopStatus-modalTip">
                        注销商户：注销商户后，商户账户不能正常交易，已注销商户账户不能恢复，仅能查看历史数据。请谨慎操作！
                    </div>
                </div>
                <div class="modal-footer shopModalCommonFooter" >
                    <div class="reasonRemarksTitle">备注原因</div>
                    <div class="reasonRemarks">
                        <input type="text" placeholder="请输入操作原因" class="changeReasonInput" ng-model="destroyShopReason">
                        <input type="text" placeholder="请输入授权密码" class="changeStatusAbilityInput" ng-model="destroyShopAbilityCode">
                        <button class="shopDetail-commentBtn selectStatusBtn changeConformBtn" data-toggle="modal" data-target="#destroyShopConformModal" ng-click="destroyShopBtnClick()">注销</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--注销商户账户确认-->
    <div class="modal fade" id="destroyShopConformModal" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px; margin-top: 200px;">
            <div class="modal-content changeShopStatusModalContainer">
                <div class="modal-header shopModalCommonHeader">注销商户账户</div>
                <div class="modal-body">
                    <div class="shopStatus-modalTitle">即将注销{{destroyShopName}}</div>
                    <div class="shopStatus-modalTip">
                        注销商户：注销商户后，商户账户不能正常交易，已注销商户账户不能恢复，仅能查看历史数据。请谨慎操作！
                    </div>
                </div>
                <div class="modal-footer shopModalCommonFooter" >
                    <div class="reasonRemarksTitle">请谨慎操作</div>
                    <div class="destroyShopConformBtn">
                        <button class="shopDetail-commentBtn selectStatusBtn changeConformBtn" ng-click="destroyShopConformBtnClick()">确认注销</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--注销成功-->
    <div class="modal fade" id="destroyShopSuccessModal" aria-hidden="true">
        <div class="modal-dialog" style="width: 150px; margin-top: 200px;">
            <div class="modal-content destroyShopSuccessModalContainer">
                <div class="modal-body">
                    <div class="shopStatus-modalTitle">注销成功</div>
                </div>
            </div>
        </div>
    </div>

    <!--注销失败-->
    <div class="modal fade" id="destroyShopFailModal" aria-hidden="true">
        <div class="modal-dialog" style="width: 150px; margin-top: 200px;">
            <div class="modal-content destroyShopSuccessModalContainer">
                <div class="modal-body">
                    <div class="shopStatus-modalTitle">注销失败</div>
                </div>
            </div>
        </div>
    </div>





</div>
