<div class="container">
    <div class="addshopPanel-container">
        <div class="addShopHeader">
            添加商户账户
        </div>

        <div class="form">
            <div class="form-view">
                <label class="form-label">商铺名称</label>
                <input type="text" class="input-text" ng-model="shopName">
            </div>
            <div class="form-view">
                <label class="form-label">商铺位置</label>
                <input type="text" class="input-text" ng-model="shopLocation">
            </div>
            <div class="form-view">
                <label class="form-label">公司名</label>
                <input type="text" class="input-text" ng-model="companyName">
            </div>
            <div class="form-view">
                <label class="form-label">主营业务所属类别</label>
                <select class="input-text" ng-model="itemClassFilter" ng-options="class.name for class in industries">
                </select>
            </div>
            <div class="form-view">
                <label class="form-label">品牌</label>
                <input type="text" class="input-text" ng-model="brandName"><label class="addShopTipLabel">选填</label>
            </div>
            <div class="form-view">
                <label class="form-label">负责人名称</label>
                <input type="text" class="input-text" ng-model="shopManagerName">
            </div>
            <div class="form-view">
                <label class="form-label">负责人身份证号</label>
                <input type="text" class="input-text" ng-model="shopManagerIdcardno">
            </div>
            <div class="form-view">
                <label class="form-label">负责人手机号</label>
                <input type="text" class="input-text" ng-model="managerPhoneNum">
            </div>
            <div class="protocalCheckBoxContainer">
                <input type="checkbox" ng-model="checkboxChecked">
                <span class="protocalTip">勾选同意</span>
                <a class="protocalLink" href="">《×××协议》</a>。
            </div>

            <div class="addShop-btnContainer">
                <button type="button" class="addShopConformBtn" ng-click="changeShopConformBtnClick()">确认提交</button>
                <a href="#!/shop/detail/{{shopId}}" class="addShopCancelBtn"><span class="addShopCancelSpan">取消</span></a>


            </div>



        </div>
    </div>
</div>