@import "../var/toolbox";
@import "../var/colors";
@import "input";

.form {
  width: 50%;
  margin-bottom: 5px;
  font-size: 15px;
  display: inline-block;
  text-align: left;
}

.form-view{
  display: block;
  margin: 20px;
}

.form-label{
  display: inline-block;
  width: 30%;
  text-align: right;
  margin-right: 10px;
}

.input-text{
  border-radius: 4px;
  width: 150px;
  border: 1px solid #b5b5b5;
  height: 30px;
  line-height: 30px;
}